node_modules
npm-debug.log*
.npm
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
.replit
replit.nix
.upm
.config
.gitignore
README.md
*.md
attached_assets/Screenshot_*
attached_assets/*.mp4
attached_assets/*.zip
